/*ページ全体*/
.setting{
    margin:0 auto 0 auto;
	max-width:960px;
}

/*ページタイトル*/
h2{
    color:#3f5170;
    font-size:30px;
    margin:50px 0 40px 0;
    text-align:center;
    background-color: white;
}

/*サブタイトル*/
h3{
    color:#3f5170;
    border-bottom: 3px dotted #3f5170 ;
}

p{
    color:#3f5170;
}

/*戻るボタン*/
.return_setting{
    margin-top: 50px;
}

/*スマホ用*/
@media(max-width:767px){
    .setting{
        margin:0 10px
    }
}